.venv/
.env
__pycache__/
*.egg-info/
results/


#ignore the Obsidian workspace file
.obsidian/workspace.json
# and the mobile workspace file
.obsidian/mobile-workspace.json
#MacOS system files
.DS_Store

# Ignore agent files
.claude/
.agent/
.opencode/